.user-contact{
//    width: 768px;
//    height: auto;
   margin:  0 auto;
//    text-align: start;
   input{
    border: 1px solid #5E3BEE;
    border-radius: 6px;
   }
   select{
    border: 1px solid #5E3BEE;
    border-radius: 6px;
   }
   textarea{
    border: 1px solid #5E3BEE;
    border-radius: 6px;
   }

}
.contact-heading{
    // text-align:center;
    // width: 768px;
    // height: auto;
    // margin: 0 auto;
    margin-bottom: 48px;
    span{
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: #282938;
        // margin-bottom: 15px;
    }
    h2{
        font-size: 48px;
        font-weight: 700;
        line-height: 57.6px;
        color: #282938;   
        margin-bottom: 15px;
    }
    p{
        font-size: 18px;
        font-weight: 400;
        color: #1C1E53;
        line-height: 27px;
        margin-bottom: 15px;
        text-align: center;
    }
}
.form-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 0 auto;
    padding: 9px 20px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.contact-card-form{
    border: 1px solid #5e3bee;
    border-radius: 8px;
  .card-body{
    padding: 30px;
    border: unset;
  }
}