.portfolio-section {
  padding: 100px 30px;
}
.portfolio-text {
  text-align: start;
  span {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #282938;
  }
  h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 57.6px;
    color: #282938;
    margin: 0px;
  }
}
.top-divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-bottom: 45px;
}
.btn-danger {
  background-color: #e62872 !important;
  color: #fff;
}
.visit-btn {
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  padding: 10px 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0 12px;
  justify-content: space-between;
}
.portfolio-card {
  display: flex;
  align-items: flex-start;
  text-align: start;
  flex-direction: column;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
  border: none;
  .card-body {
    padding: 24px;
  }
  .view-btn {
    border-bottom: 1px solid #5e3bee;
    border-radius: 0px;
    align-items: center;
    gap: 0 12px;
    padding: 0px 0px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 129px;
    height: 30px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    cursor: pointer;
    svg{
        width: 18px;
        height: 18px;
        color: #006B6A;
    }
  }
  h3 {
    font-size: 24px;
    line-height: 33.6px;
    font-weight: 700;
    color: #282938;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #1c1e53;
  }
}
