@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    color: #1C1E53;
}
.primary-color{
    color: #5E3BEE;
}
.btn-primary{
    background-color: #5E3BEE !important;
    color: #fff;
  }
a{
    text-decoration: none;
}
.custom-outline-btn-lg{
    border-radius: 4px !important;
    padding: 14px 32px !important;
    border: 1px solid #5E3BEE !important;
    color: #5E3BEE !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    &:hover{
        color: #fff !important;
        background-color: #5E3BEE !important;
    }
}


    .top-text{
        text-align: start;
        padding-bottom: 35px;
        span{
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            color: #282938;
        }
        h2{
            font-size: 42px;
            font-weight: 700;
            line-height: 57px;
            color: #282938;
            margin: 0px;
        }
       
    }